<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es la página donde encontrarás asesores inmobiliarios">
    <meta name="keywords"  content="ASESORES, CASA, DEPARTAMENTOS, COMPRA">
    <title>Asesores</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="../index.html">
                    <img src="../img/logo.png" alt="Logotipo" class="logo">
                </a>
                <div class="mobile-menu">
                    <img src="../img/barras.png" alt="icono menu responsive">
                </div>

                <div class="derecha">                    
                    <nav class="navegacion">
                        <a href="nosotros.html">Nosotros</a>
                        <a href="anuncios.html">Anuncios</a>
                        <a href="asesores.html">Asesores</a>
                        <a href="blog.html">Blog</a>
                        <a href="contacto.html">Contacto</a>
                    </nav>
                </div>
                
            </div> <!--.barra-->
        </div>
    </header>

    <main class="contenedor seccion">
        <h1>Contamos con los mejores asesores</h1>
        <div class="carrusel">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/asesor1.jpg" alt="asesor1" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3>Juan Perez</h3>
                            <p>Te ayudaré en tus asesorías</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../img/asesor2.jpg" alt="asesor2" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3>Casimiro</h3>
                            <p>Cuenta Conmigo</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../img/asesor3.jpg" alt="asesor3" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3>Federica</h3>
                            <p>Te guiaré mediante un tour</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </main>

    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="asesores.html">Asesores</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>

        <p class="copyright">Todos los derechos Reservados 2021 &copy;</p>
    </footer>

    <script src="../js/bundle.min.js"></script>
</body>
</html>