<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es la página donde encontrarás reseña de casas y departamentos">
    <meta name="keywords"  content="CASA, DEPARTAMENTOS, ASESORES, COMPRA">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="../index.html">
                    <img src="../img/logo.png" alt="Logotipo" class="logo">
                </a>

                <div class="mobile-menu">
                    <img src="../img/barras.png" alt="icono menu responsive">
                </div>

                <div class="derecha">                    
                    <nav class="navegacion">
                        <a href="nosotros.html">Nosotros</a>
                        <a href="noticias.html">Noticias</a>
                        <a href="asesores.html">Asesores</a>
                        <a href="blog.html">Blog</a>
                        <a href="contacto.html">Contacto</a>
                    </nav>
                </div>
                
            </div> <!--.barra-->
        </div>
    </header>

    <main class="contenedor seccion contenido-centrado">
        <h1>Blog Inmobiliario</h1>

        <article class="entrada-blog">
            <div class="imagen">
                <picture>                    
                    <source srcset="../img/blog1.jpg" type="image/jpeg">
                    <img loading="lazy" src="../img/blog1.jpg" alt="Texto Entrada Blog">
                </picture>
            </div>

            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>La mejor experiencia</h4>
                    <p>Escrito el: <span>10/11/2021</span> por: <span>Jaime</span> </p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quam magni tenetur sit modi
                    </p>
                </a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <picture>
                    <source srcset="../img/blog2.jpg" type="image/jpeg">
                    <img loading="lazy" src="../img/blog2.jpg" alt="Texto Entrada Blog">
                </picture>
            </div>

            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>Excelente piscina</h4>
                    <p>Escrito el: <span>11/11/2021</span> por: <span>Casimira</span> </p>

                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ad quo minima veritatis
                    </p>
                </a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <picture>
                    <source srcset="../img/blog3.jpg" type="image/jpeg">
                    <img loading="lazy" src="../img/blog3.jpg" alt="Texto Entrada Blog">
                </picture>
            </div>

            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>Increible ambiente de estudio</h4>
                    <p>Escrito el: <span>11/11/2021</span> por: <span>Mateo</span> </p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos harum, ea nihil nemo, enim exercitationem, numquam quod ut minima 
                    </p>
                </a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <picture>
                    <source srcset="../img/blog4.jpg" type="image/jpeg">
                    <img loading="lazy" src="../img/blog4.jpg" alt="Texto Entrada Blog">
                </picture>
            </div>

            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>Ambiente perfecto</h4>
                    <p>Escrito el: <span>11/11/2021</span> por: <span>Abigail</span> </p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque exercitationem, quam iste nam velit
                    </p>
                </a>
            </div>
        </article>
    </main>

    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="noticias.html">Noticias</a>
                <a href="asesores.html">Asesores</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>

        <p class="copyright">Todos los derechos Reservados 2021 &copy;</p>
    </footer>

    <script src="../js/bundle.min.js"></script>
</body>
</html>